<div>This is the customer dashboard</div>

<% if !user_signed_in? %>
  Meh, not signed in bro
<% else %>
  You're already signed in!!!
<% end %>

<h1 class="font-bold text-4xl text-center text-red-500">Hello World!</h1>
